.map {
  height: 100vh;
  background-color: #0FA8D2;
}
.info.legend {
  background: white;
  padding: 6px 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info.legend .legend-credit {
  text-align: center;
  font-size: 12px;
  font-style: italic;
  color: #333;
}
